{{ partial "components/top.html" . }}
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img={{ "/img/header-about.jpg" | relURL }}>
      <div class="container pt-120 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row">
            <div class="col-md-12">
              <h3 class="title text-white">About Amazing Weddings</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: About -->

<!--
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="best-people">
              <div class="thumb">
                <img src="/new/img/about-mandy.jpg" alt="">
                <div class="best-people-details"><a class="font-Playfair" href="page-about-her.html">Know more</a></div>
              </div>
              <div class="info">
                <h2 class="name">Jenny</h2>
                <img src="images/about-title-bg.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing tempor incididunt ut labore et dolore magna et sed aliqua. Ut enim ad minim veniam, quis nostrud nisi ut aliquip ex ea commodo consequat.</p>
                <a class="font-great-vibes text-theme-colored font-weight-700 font-23" href="">Read more</a>
                <ul class="social-icons icon-dark icon-theme-colored icon-sm">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
-->
    <!-- divider: Emergency Services -->
    <section>
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Divider: Divider -->
    <section class="divider parallax layer-overlay overlay-dark-5" data-stellar-background-ratio="0.5" data-bg-img="http://placehold.it/1920x1277">
      <div class="container">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-3 col-sm-6 wow fadeInUp animation-delay1">
              <div class="features text-center mb-md-60 mb-md-60"> <i class="pe-7s-culture font-48 text-white"></i>
                <h4 class="mt-20 mb-20"><a class="text-theme-colored" href="page-venues.html">Venues</a></h4>
                <p class="text-white">Search by location, type &amp; capacity to find your perfect wedding venue</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp animation-delay2">
              <div class="features text-center mb-md-60"> <i class="pe-7s-note2 font-48 text-white"></i>
                <h4 class="mt-20 mb-20"><a class="text-theme-colored" href="page-checklist.html">Checklist</a></h4>
                <p class="text-white">Personalise your wedding checklist so that you don’t miss a thing!</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp animation-delay3">
              <div class="features text-center mb-md-60"> <i class="pe-7s-cash font-48 text-white"></i>
                <h4 class="mt-20 mb-20"><a class="text-theme-colored" href="page-budget.html">Budget</a></h4>
                <p class="text-white">Plan and track your busget with our free wedding budget tracker</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp animation-delay4">
              <div class="features text-center mb-md-60"> <i class="pe-7s-shopbag font-48 text-white"></i>
                <h4 class="mt-20 mb-20"><a class="text-theme-colored" href="shop-category.html">Shop</a></h4>
                <p class="text-white">Find everything you need to create the perfect wedding</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!--  service content  -->
    <section>
      <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6 wow fadeInUp animation-delay1">
              <div class="services-box mb-50"> <img alt="" src="http://placehold.it/500x375">
                <h4 class="mt-30">Wedding Consulting</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, dignissimos nihil unde dolores qui.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 wow fadeInUp animation-delay2">
              <div class="services-box mb-50"> <img alt="" src="http://placehold.it/500x375">
                <h4 class="mt-30">Wedding Planning</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, dignissimos nihil unde dolores qui</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 wow fadeInUp animation-delay3">
              <div class="services-box mb-50"> <img alt="" src="http://placehold.it/500x375">
                <h4 class="mt-30">Decoration</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, dignissimos nihil unde dolores qui</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 wow fadeInUp animation-delay1">
              <div class="services-box mb-50"> <img alt="" src="http://placehold.it/500x375">
                <h4 class="mt-30">Music</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, dignissimos nihil unde dolores qui</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 wow fadeInUp animation-delay2">
              <div class="services-box mb-50"> <img alt="" src="http://placehold.it/500x375">
                <h4 class="mt-30">Dresses</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, dignissimos nihil unde dolores qui</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 wow fadeInUp animation-delay3">
              <div class="services-box mb-50"> <img alt="" src="http://placehold.it/500x375">
                <h4 class="mt-30">Photography</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, dignissimos nihil unde dolores qui</p>
              </div>
            </div>
          </div></div>
    </section>
  </div>
  <!-- end main-content -->

  <!-- Footer -->


</div>
<!-- end wrapper -->
{{ partial "components/bottom.html" . }}
