{{ partial "head.html" . }}
<body class="">
<div id="wrapper" class="clearfix">

{{ partial "preloader.html" . }}
  <!-- Header -->
  <header id="header" class="header">
  {{ partial "block/nav/nav-pages.html" . }}
  </header>
  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img={{ "/img/header-about.jpg" | relURL }}>
      <div class="container pt-120 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row">
            <div class="col-md-12">
              <h3 class="title text-white">{{ .Title }}</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Pricing -->
    <section id="pricing" data-bg-img="images/pattern/p4.png">
      <div class="container pt-100 pb-50">
        <div class="section-content">
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 hvr-float-shadow mb-sm-30">
              <div class="pricing-table style1 bg-white-light border-10px text-center">
                <div class="pt-40 pb-60">
                  <h3 class="package-type">Initial <br>Consultation</h3>
                  <h1 class="price text-theme-colored mb-10">Free</h1>
                  <ul class="table-list bg-lightest pl-0">
                    <li>Arrange relevant appointments</li>
                    <li>Your initial consultation is completely free</li>
                  </ul>
                  <a class="btn btn-colored btn-theme-colored text-uppercase" href="#">Contact Now</a><br>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 hvr-float-shadow mb-sm-30">
              <div class="pricing-table style1 bg-white-light border-10px text-center">
                <div class="pt-40 pb-60">
                  <h3 class="package-type">Wedding Day <br>Coordination</h3>
                  <h1 class="price text-theme-colored mb-10"><span class="font-48">$</span>399</h1>
                  <ul class="table-list bg-lightest pl-0">
                    <li>Venue and vendor selection</li>
                    <li>Arrange relevant appointments</li>
                    <li>Unlimited telephone & email support</li>
                    <li>24/7 phone and email support</li>
                  </ul>
                  <a class="btn btn-colored btn-theme-colored text-uppercase" href="#">Contact Now</a><br>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 hvr-float-shadow mb-sm-30">
              <div class="pricing-table style1 bg-white-light border-10px text-center">
                <div class="pt-40 pb-60">
                  <h3 class="package-type">Full Wedding <br>Planning</h3>
                  <h1 class="price text-theme-colored mb-10"><span class="font-48">$</span>599</h1>
                  <ul class="table-list bg-lightest pl-0">
                    <li>Venue and vendor selection</li>
                    <li>Arrange relevant appointments</li>
                    <li>Management of all outstanding wedding admin</li>
                    <li>Unlimited telephone & email support</li>
                    <li>24/7 phone and email support</li>
                  </ul>
                  <a class="btn btn-colored btn-theme-colored text-uppercase" href="#">Contact Now</a><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Services -->
    <section>
      <div class="container pb-10">
        <div class="section-content">
          <div class="row features-style1 text-center mt-20">
            <div class="col-sm-4">
              <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left icon icon-gray icon-sm icon-bordered"><i class="fa fa-comments-o text-theme-colored"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Wedding Consulting</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left icon icon-gray icon-sm icon-bordered"><i class="fa fa-navicon text-theme-colored"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Wedding Planning</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left icon icon-gray icon-sm icon-bordered"><i class="fa fa-diamond text-theme-colored"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Decoration</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left icon icon-gray icon-sm icon-bordered"><i class="fa fa-music text-theme-colored"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Music</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left icon icon-gray icon-sm icon-bordered"><i class="fa fa-shopping-bag text-theme-colored"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Dresses</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left icon icon-gray icon-sm icon-bordered"><i class="fa fa-camera text-theme-colored"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Photography</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: funfact -->
    <section class="divider parallax layer-overlay overlay-light" data-stellar-background-ratio="0.5" data-bg-img="http://placehold.it/1920x1277">
      <div class="container pt-120 pb-120">
        <div class="section-content">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
              <div class="funfact text-center pt-15 pb-15 p-0">
                <a href="#"><i class="pe-7s-smile text-theme-colored"></i></a>
                <h2 class="animate-number text-theme-colored m-0" data-value="106" data-animation-duration="2000">0</h2>
                <h5 class="text-gray">Happy Clients</h5>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
              <div class="funfact text-center pt-15 pb-15 p-0">
                <a href="#"><i class="pe-7s-portfolio text-theme-colored"></i></a>
                <h2 class="animate-number text-theme-colored m-0" data-value="250" data-animation-duration="2500">0</h2>
                <h5 class="text-gray">Success Projects</h5>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
              <div class="funfact text-center pt-15 pb-15 p-0">
                <a href="#"><i class="pe-7s-users text-theme-colored"></i></a>
                <h2 class="animate-number text-theme-colored m-0" data-value="400" data-animation-duration="3000">0</h2>
                <h5 class="text-gray">Team Members</h5>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
              <div class="funfact text-center pt-15 pb-15 p-0">
                <a href="#"><i class="pe-7s-cup text-theme-colored"></i></a>
                <h2 class="animate-number text-theme-colored m-0" data-value="30" data-animation-duration="3500">0</h2>
                <h5 class="text-gray">Awards</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->

  <!-- Footer -->
  <footer id="footer" class="footer pb-0 bg-black-111">
    <div class="container pb-20">
      <div class="row multi-row-clearfix">
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <a class="text-white font-great-vibes font-32" href="#">Perfect &nbsp;<i class="fa fa-heart font-25"></i> Wedding</a>
            <p class="mt-20 mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas possimus aut distinctio autem nisi, eaque, quis reprehenderit perspiciatis molestiae iste minus modi sint maiores earum..</p>
            <ul class="social-icons icon-dark icon-circled">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Pages</h5>
            <ul class="list-border list theme-colored angle-double-right">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Donor Privacy Policy</a></li>
              <li><a href="#">Disclaimer</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Copyright Notice</a></li>
              <li><a href="#">Media Center</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Quick Links</h5>
            <ul class="list-border list theme-colored angle-double-right">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Donor Privacy Policy</a></li>
              <li><a href="#">Disclaimer</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Copyright Notice</a></li>
              <li><a href="#">Media Center</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Quick Contact</h5>
            <ul class="list list-border">
              <li><a href="#">+(012) 345 6789</a></li>
              <li><a href="#">hello@yourdomain.com</a></li>
              <li><a href="#" class="lineheight-20">121 King Street, Melbourne Victoria 3000, Australia</a></li>
            </ul>
            <p class="text-white mb-5 mt-15">Subscribe to our newsletter</p>
            <form id="footer-mailchimp-subscription-form" class="newsletter-form mt-10">
              <label class="display-block" for="mce-EMAIL"></label>
              <div class="input-group">
                <input type="email" value="" name="EMAIL" placeholder="Your Email"  class="form-control" data-height="37px" id="mce-EMAIL">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-colored btn-theme-colored m-0"><i class="fa fa-paper-plane-o text-white"></i></button>
                </span>
              </div>
            </form>
            <!-- Mailchimp Subscription Form Validation-->
            <script type="text/javascript">
              $('#footer-mailchimp-subscription-form').ajaxChimp({
                  callback: mailChimpCallBack,
                  url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'
              });

              function mailChimpCallBack(resp) {
                  // Hide any previous response text
                  var $mailchimpform = $('#footer-mailchimp-subscription-form'),
                      $response = '';
                  $mailchimpform.children(".alert").remove();
                  console.log(resp);
                  if (resp.result === 'success') {
                      $response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                  } else if (resp.result === 'error') {
                      $response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                  }
                  $mailchimpform.prepend($response);
              }
            </script>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-nav bg-black-222 p-20">
      <div class="row text-center">
        <div class="col-md-12">
          <p class="text-white font-11 m-0">Copyright &copy;2015 ThemeMascot. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footeraa>
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
  </div>
  <!-- end wrapper -->

  <!-- Footer Scripts -->
  <!-- JS | Custom script for all pages -->
    {{partial "foot.html" . }}
