{{ partial "components/top.html" . }}
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img={{ "/img/header-packages.jpg" | relURL }}>
      <div class="container pt-120 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row">
            <div class="col-md-12">
              <h3 class="title text-white">{{ .Title }}</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Pricing -->
    <section id="pricing" data-bg-img="images/pattern/p4.png">
      <div class="container pt-100 pb-50">
        <div class="section-content">
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 hvr-float-shadow mb-sm-30">
              <div class="pricing-table style1 bg-white-light border-10px text-center">
                <div class="pt-40 pb-60">
                  <h3 class="package-type">Initial <br>Consultation</h3>
                  <h1 class="price text-theme-colored mb-10">Free</h1>
                  <ul class="table-list bg-lightest pl-0">
                    <li>Arrange relevant appointments</li>
                    <li>Your initial consultation is completely free</li>
                  </ul>
                  <a class="btn btn-colored btn-theme-colored text-uppercase" href="#">Contact Now</a><br>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 hvr-float-shadow mb-sm-30">
              <div class="pricing-table style1 bg-white-light border-10px text-center">
                <div class="pt-40 pb-60">
                  <h3 class="package-type">Wedding Day <br>Coordination</h3>
                  <h1 class="price text-theme-colored mb-10"><span class="font-48">$</span>399</h1>
                  <ul class="table-list bg-lightest pl-0">
                    <li>Venue and vendor selection</li>
                    <li>Arrange relevant appointments</li>
                    <li>Unlimited telephone & email support</li>
                    <li>24/7 phone and email support</li>
                  </ul>
                  <a class="btn btn-colored btn-theme-colored text-uppercase" href="#">Contact Now</a><br>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 hvr-float-shadow mb-sm-30">
              <div class="pricing-table style1 bg-white-light border-10px text-center">
                <div class="pt-40 pb-60">
                  <h3 class="package-type">Full Wedding <br>Planning</h3>
                  <h1 class="price text-theme-colored mb-10"><span class="font-48">$</span>599</h1>
                  <ul class="table-list bg-lightest pl-0">
                    <li>Venue and vendor selection</li>
                    <li>Arrange relevant appointments</li>
                    <li>Management of all outstanding wedding admin</li>
                    <li>Unlimited telephone & email support</li>
                    <li>24/7 phone and email support</li>
                  </ul>
                  <a class="btn btn-colored btn-theme-colored text-uppercase" href="#">Contact Now</a><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Services -->
    <section>
      <div class="container pb-10">
        <div class="section-content">
          <div class="row features-style1 text-center mt-20">
            <div class="col-sm-4">
              <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left icon icon-gray icon-sm icon-bordered"><i class="fa fa-comments-o text-theme-colored"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Wedding Consulting</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left icon icon-gray icon-sm icon-bordered"><i class="fa fa-navicon text-theme-colored"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Wedding Planning</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left icon icon-gray icon-sm icon-bordered"><i class="fa fa-diamond text-theme-colored"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Decoration</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left icon icon-gray icon-sm icon-bordered"><i class="fa fa-music text-theme-colored"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Music</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left icon icon-gray icon-sm icon-bordered"><i class="fa fa-shopping-bag text-theme-colored"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Dresses</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="icon-box left media p-0"> <a href="#" class="media-left pull-left icon icon-gray icon-sm icon-bordered"><i class="fa fa-camera text-theme-colored"></i></a>
                <div class="media-body">
                  <h5 class="media-heading heading">Photography</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->
  <!-- Footer -->
  </div>
  <!-- end wrapper -->
  <!-- Footer Scripts -->
  <!-- JS | Custom script for all pages -->
{{ partial "components/bottom.html" . }}
