{{ partial "components/top.html" . }}
<div class="main-content">
  <!-- Section: inner-header -->
  <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img={{ "/img/header-extras.jpg" | relURL }}>
    <div class="container pt-120 pb-50">
      <!-- Section Content -->
      <div class="section-content pt-100">
        <div class="row">
          <div class="col-md-12">
            <h3 class="title text-white">{{ .Title }}</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end main-content -->
<!-- Footer -->
</div>
<!-- end wrapper -->
{{ partial "components/bottom.html" . }}
