<section id="service" class="bg-lighter">
  <div class="container">
    <div class="section-content text-center">
      <div class="row">
        <div class="col-md-4 col-sm-6 wow fadeInUp animation-delay1">
          <div class="services-box mb-sm-50"> <img alt="" src="/img/services-ceremony-venues.jpg">
            <h4 class="mt-30">Ceremony Venues</h4>
            <p>et us help find the perfect wedding ceremony venue in Paphos for you. </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp animation-delay2">
          <div class="services-box mb-sm-50"> <img alt="" src="/img/services-reception-venues.jpg">
            <h4 class="mt-30">Reception Venues</h4>
            <p>A wedding reception in Paphos to celebrate your day.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp animation-delay3">
          <div class="services-box mb-sm-50"> <img alt="" src="/img/services-weddings-extras.jpg">
            <h4 class="mt-30">Extras for your day</h4>
            <p>Together we can enhance your day to be exactly how you dream it to be.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
