{{ partial "components/top.html" . }}
    <!-- Start main-content -->
    <div class="main-content">
      <!-- Section: inner-header -->
      <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img={{ "/img/header-about.jpg" | relURL }}>
        <div class="container pt-120 pb-50">
          <!-- Section Content -->
          <div class="section-content pt-100">
            <div class="row">
              <div class="col-md-12">
                <h3 class="title text-white">Blogs</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Start main-content -->
      <div class="main-content">
        <!-- Section: inner-header -->
        <!-- Section: Blog -->
        <section>
          <div class="container mt-30 mb-30 pt-30 pb-30">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="blog-posts single-post">
                  <article class="post clearfix mb-0">

                    <div class="entry-title pt-0">
                      <h4 class="font-Playfair"><a href="#">{{ .Title }}</a></h4>
                    </div>
                    <div class="entry-meta">
                      <ul class="list-inline">
                        <li>Posted: <span class="text-theme-colored">26 Oct 2015</span></li>
                        <li>By: <span class="text-theme-colored">Admin</span></li>
                      </ul>
                    </div>
                    <div class="entry-content mt-10">
                      <p class="mb-15">{{ .Content}}</p>
                      <div class="entry-header">
                        <div class="post-thumb thumb"> <img src="http://placehold.it/730x400" alt="" class="img-responsive img-fullwidth"> </div>
                      </div>
                      <div class="mt-30 mb-0">
                        <h5 class="pull-left mt-10 mr-20 text-theme-colored">Share:</h5>
                        <ul class="social-icons icon-circled m-0">
                          <li><a href="#" data-bg-color="#3A5795"><i class="fa fa-facebook text-white"></i></a></li>
                          <li><a href="#" data-bg-color="#55ACEE"><i class="fa fa-twitter text-white"></i></a></li>
                          <li><a href="#" data-bg-color="#A11312"><i class="fa fa-google-plus text-white"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </article>
                  <div class="tagline p-0 pt-20 mt-5">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="tags">
                          <p class="mb-0"><i class="fa fa-tags text-theme-colored"></i> <span>Tags:</span> </p>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="share text-right">
                          <p><i class="fa fa-share-alt text-theme-colored"></i> Share</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- end main-content -->
      <!-- end main-content -->
      <!-- Footer -->
    </div>
    <!-- end wrapper -->
    {{ partial "components/bottom.html" . }}
