<!-- Divider: Divider -->
<section class="divider parallax layer-overlay overlay-dark-7" data-stellar-background-ratio="0.5" data-bg-img="http://placehold.it/1920x1277">
  <div class="container">
    <!-- Section Content -->
    <div class="section-content">
      <div class="row">
        <div class="col-md-3 col-sm-6 wow fadeInUp animation-delay1">
          <div class="features text-center mb-md-60 mb-md-60"> <i class="pe-7s-culture font-48 text-white"></i>
            <h4 class="mt-20 mb-20"><a class="text-theme-colored" href="page-venues.html">Venues</a></h4>
            <p class="text-white">Search by location, type &amp; capacity to find your perfect wedding venue</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInUp animation-delay2">
          <div class="features text-center mb-md-60"> <i class="pe-7s-note2 font-48 text-white"></i>
            <h4 class="mt-20 mb-20"><a class="text-theme-colored" href="page-checklist.html">Checklist</a></h4>
            <p class="text-white">Personalise your wedding checklist so that you don’t miss a thing!</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInUp animation-delay3">
          <div class="features text-center mb-md-60"> <i class="pe-7s-cash font-48 text-white"></i>
            <h4 class="mt-20 mb-20"><a class="text-theme-colored" href="page-budget.html">Budget</a></h4>
            <p class="text-white">Plan and track your busget with our free wedding budget tracker</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInUp animation-delay4">
          <div class="features text-center mb-md-60"> <i class="pe-7s-shopbag font-48 text-white"></i>
            <h4 class="mt-20 mb-20"><a class="text-theme-colored" href="shop-category.html">Shop</a></h4>
            <p class="text-white">Find everything you need to create the perfect wedding</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
