<!-- Section: Event  -->
<section id="event">
  <div class="container pb-80">
    <div class="section-title">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center pb-30 wow fadeInUp animation-delay1">
          <h2>Events</h2>
          <img src="images/section-title-after.png" alt="">
          <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, dignissimos nihil unde dolores qui, adipisci assumenda atque blanditiis omnis nostrum!</em></p>
        </div>
      </div>
    </div>
    <div class="section-content">
      <div class="row multi-row-clearfix">

        <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInUp animation-delay1">
          <div class="maxwidth500 bg-lighter mb-30">
            <div class="thumb">
              <img class="img-fullwidth" alt="" src="http://placehold.it/900x500">
            </div>
            <div class="schedule-details clearfix p-15 pt-10">
              <h5 class="font-16 title"><a href="#">James and Anastasia - Wedding Party</a></h5>
              <ul class="list-inline font-11 mb-20">
                <li><i class="fa fa-calendar mr-5"></i> DEC 31/2016</li>
                <li><i class="fa fa-map-marker mr-5"></i> 89 Newyork City.</li>
              </ul>
              <p>Lorem ipsum dolor sit amet elit. Cum veritatis sequi nulla nihil, dolor voluptatum nemo adipisci eligendi! Sed nisi perferendis, totam harum dicta.</p>
              <div class="mt-10">
               <a class="btn btn-dark btn-theme-colored" href="#">Details</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInUp animation-delay2">
          <div class="maxwidth500 bg-lighter mb-30">
            <div class="thumb">
              <img class="img-fullwidth" alt="" src="http://placehold.it/900x500">
            </div>
            <div class="schedule-details clearfix p-15 pt-10">
              <h5 class="font-16 title"><a href="#">James and Anastasia - Wedding Party</a></h5>
              <ul class="list-inline font-11 mb-20">
                <li><i class="fa fa-calendar mr-5"></i> DEC 31/2016</li>
                <li><i class="fa fa-map-marker mr-5"></i> 89 Newyork City.</li>
              </ul>
              <p>Lorem ipsum dolor sit amet elit. Cum veritatis sequi nulla nihil, dolor voluptatum nemo adipisci eligendi! Sed nisi perferendis, totam harum dicta.</p>
              <div class="mt-10">
               <a class="btn btn-dark btn-theme-colored" href="#">Details</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInUp animation-delay3">
          <div class="maxwidth500 bg-lighter mb-30">
            <div class="thumb">
              <img class="img-fullwidth" alt="" src="http://placehold.it/900x500">
            </div>
            <div class="schedule-details clearfix p-15 pt-10">
              <h5 class="font-16 title"><a href="#">James and Anastasia - Wedding Party</a></h5>
              <ul class="list-inline font-11 mb-20">
                <li><i class="fa fa-calendar mr-5"></i> DEC 31/2016</li>
                <li><i class="fa fa-map-marker mr-5"></i> 89 Newyork City.</li>
              </ul>
              <p>Lorem ipsum dolor sit amet elit. Cum veritatis sequi nulla nihil, dolor voluptatum nemo adipisci eligendi! Sed nisi perferendis, totam harum dicta.</p>
              <div class="mt-10">
               <a class="btn btn-dark btn-theme-colored" href="#">Details</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
