<!-- Footer -->
<footer id="footer" class="footer pb-0 bg-black-111">
  <div class="container pb-20">
    <div class="row multi-row-clearfix">
      <div class="col-sm-6 col-md-3 wow fadeInUp animation-delay1">
        <div class="widget dark">
          <a class="text-white font-great-vibes font-32" href="#">Perfect &nbsp;<i class="fa fa-heart font-25"></i> Wedding</a>
          <p class="mt-20 mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas possimus aut distinctio autem nisi, eaque, quis reprehenderit perspiciatis molestiae iste minus modi sint maiores earum..</p>
          <ul class="social-icons icon-dark icon-circled">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 wow fadeInUp animation-delay2">
        <div class="widget dark">
          <h5 class="widget-title line-bottom">Pages</h5>
          <ul class="list-border list theme-colored angle-double-right">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Donor Privacy Policy</a></li>
            <li><a href="#">Disclaimer</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Copyright Notice</a></li>
            <li><a href="#">Media Center</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 wow fadeInUp animation-delay3">
        <div class="widget dark">
          <h5 class="widget-title line-bottom">Twitter</h5>
          <div class="twitter-feed list-border clearfix" data-username="Envato"></div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 wow fadeInUp animation-delay4">
        <div class="widget dark">
          <div class="widget">
            <h5 class="widget-title line-bottom">Photos from Flickr</h5>
            <div id="flickr-feed" class="clearfix">
              <!-- Flickr Link -->
              <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=52617155@N08">
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-nav bg-black-222 p-20">
    <div class="row text-center">
      <div class="col-md-12">
        <p class="text-white font-11 m-0">Copyright &copy;2015 ThemeMascot. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
