<!-- Footer -->
  <footer id="footer" class="footer pb-0 bg-black-111">
    <div class="container pb-20">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <a class="text-white font-great-vibes font-32" href="#">Perfect &nbsp;<i class="fa fa-heart font-25"></i> Wedding</a>
          <p class="font-12 mt-20 mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elits. Fugit vel, eius cum eum. Templates with predefined web elements which helps you to build your own site. Lorem ipsum dolor sit amet elit.</p>
          <ul class="social-icons flat medium list-inline mb-40">
            <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
            <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a> </li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a> </li>
            <li><a href="#"><i class="fa fa-youtube"></i></a> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-nav bg-black-222 p-20">
      <div class="row text-center">
        <div class="col-md-12">
          <p class="text-white font-11 m-0">Copyright &copy;2015 ThemeMascot. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
