<!-- Section: Gallery  -->
<section id="gallery" class="bg-lighter">
  <div class="container-fluid pb-0 pl-0 pr-0">
    <div class="section-title">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h2>Wedding Gallery</h2>
          <img src="images/section-title-after.png" alt="">
          <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</em></p>
        </div>
      </div>
    </div>
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">

          <!-- Portfolio Gallery Grid -->
          <div id="grid" class="portfolio-gallery grid-4 clearfix">

            <!-- Portfolio Item Start -->
            <div class="portfolio-item">
              <div class="thumb">
                <div class="flexslider-wrapper" data-controlnav="false" data-slideshow="false">
                  <div class="flexslider">
                    <ul class="slides">
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 1"><img src="http://placehold.it/500x375" alt=""></a></li>
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 2"><img src="http://placehold.it/500x375" alt=""></a></li>
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 3"><img src="http://placehold.it/500x375" alt=""></a></li>
                    </ul>
                  </div>
                </div>
                <div class="overlay-shade"></div>
                <div class="text-holder">
                  <div class="title text-center">Joshep & Diana</div>
                </div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                      <a href="#"><i class="fa fa-picture-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item">
              <div class="thumb">
                <div class="flexslider-wrapper" data-controlnav="false" data-slideshow="true">
                  <div class="flexslider">
                    <ul class="slides">
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 1"><img src="http://placehold.it/500x375" alt=""></a></li>
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 2"><img src="http://placehold.it/500x375" alt=""></a></li>
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 3"><img src="http://placehold.it/500x375" alt=""></a></li>
                    </ul>
                  </div>
                </div>
                <div class="overlay-shade"></div>
                <div class="text-holder">
                  <div class="title text-center">Abraham & Sujana</div>
                </div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                      <a href="#"><i class="fa fa-picture-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item">
              <div class="thumb">
                <div class="flexslider-wrapper" data-controlnav="false" data-slideshow="false">
                  <div class="flexslider">
                    <ul class="slides">
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 1"><img src="http://placehold.it/500x375" alt=""></a></li>
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 2"><img src="http://placehold.it/500x375" alt=""></a></li>
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 3"><img src="http://placehold.it/500x375" alt=""></a></li>
                    </ul>
                  </div>
                </div>
                <div class="overlay-shade"></div>
                <div class="text-holder">
                  <div class="title text-center">Leonard & Kate</div>
                </div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                      <a href="#"><i class="fa fa-picture-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item">
              <div class="thumb">
                <div class="flexslider-wrapper" data-controlnav="true" data-slideshow="true">
                  <div class="flexslider">
                    <ul class="slides">
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 1"><img src="http://placehold.it/500x375" alt=""></a></li>
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 2"><img src="http://placehold.it/500x375" alt=""></a></li>
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 3"><img src="http://placehold.it/500x375" alt=""></a></li>
                    </ul>
                  </div>
                </div>
                <div class="overlay-shade"></div>
                <div class="text-holder">
                  <div class="title text-center">Jim & Jolly</div>
                </div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                      <a href="#"><i class="fa fa-picture-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item">
              <div class="thumb">
                <div class="flexslider-wrapper" data-controlnav="false" data-slideshow="false">
                  <div class="flexslider">
                    <ul class="slides">
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 1"><img src="http://placehold.it/500x375" alt=""></a></li>
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 2"><img src="http://placehold.it/500x375" alt=""></a></li>
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 3"><img src="http://placehold.it/500x375" alt=""></a></li>
                    </ul>
                  </div>
                </div>
                <div class="overlay-shade"></div>
                <div class="text-holder">
                  <div class="title text-center">Stive & Anjelina</div>
                </div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                      <a href="#"><i class="fa fa-picture-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item">
              <div class="thumb">
                <div class="flexslider-wrapper" data-controlnav="false" data-slideshow="false">
                  <div class="flexslider">
                    <ul class="slides">
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 1"><img src="http://placehold.it/500x375" alt=""></a></li>
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 2"><img src="http://placehold.it/500x375" alt=""></a></li>
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 3"><img src="http://placehold.it/500x375" alt=""></a></li>
                    </ul>
                  </div>
                </div>
                <div class="overlay-shade"></div>
                <div class="text-holder">
                  <div class="title text-center">John & Merry</div>
                </div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                      <a href="#"><i class="fa fa-picture-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item">
              <div class="thumb">
                <div class="flexslider-wrapper" data-controlnav="false" data-slideshow="false">
                  <div class="flexslider">
                    <ul class="slides">
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 1"><img src="http://placehold.it/500x375" alt=""></a></li>
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 2"><img src="http://placehold.it/500x375" alt=""></a></li>
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 3"><img src="http://placehold.it/500x375" alt=""></a></li>
                    </ul>
                  </div>
                </div>
                <div class="overlay-shade"></div>
                <div class="text-holder">
                  <div class="title text-center">Jacob & Jelly</div>
                </div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                      <a href="#"><i class="fa fa-picture-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Portfolio Item End -->

            <!-- Portfolio Item Start -->
            <div class="portfolio-item">
              <div class="thumb">
                <div class="flexslider-wrapper" data-controlnav="false" data-slideshow="false">
                  <div class="flexslider">
                    <ul class="slides">
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 1"><img src="http://placehold.it/500x375" alt=""></a></li>
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 2"><img src="http://placehold.it/500x375" alt=""></a></li>
                      <li><a href="http://placehold.it/500x375" title="Portfolio Gallery - Photo 3"><img src="http://placehold.it/500x375" alt=""></a></li>
                    </ul>
                  </div>
                </div>
                <div class="overlay-shade"></div>
                <div class="text-holder">
                  <div class="title text-center">David & Lora</div>
                </div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                      <a href="#"><i class="fa fa-picture-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Portfolio Item End -->

          </div>
          <!-- End Portfolio Gallery Grid -->
        </div>
      </div>
    </div>
  </div>
</section>
