<section id="service" class="bg-lighter">
  <div class="container mt-30 mb-30 pt-30 pb-30">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center pb-30 wow fadeInUp animation-delay1">
        <h2>{{ .Params.home_service_title }}</h2>
        <img src="images/section-title-after.png" alt="">
        <p><em>{{ .Params.home_service_description }}</em></p>
      </div>
    </div>
  <div class="container">
    <div class="section-content text-center">
      <div class="row">
        <div class="col-md-4 col-sm-6 wow fadeInUp animation-delay1">
          <div class="services-box mb-sm-50"> <a href="{{ .Params.home_service_1_link }}"><img alt="" src="{{ .Params.home_service_1_image }}"></a>
            <a href="{{ .Params.home_service_1_link }}"><h4 class="mt-30">{{ .Params.home_service_1_title }}</h4></a>
            <p>{{ .Params.home_service_1_description }}</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp animation-delay2">
          <div class="services-box mb-sm-50"> <a href="{{ .Params.home_service_2_link }}"><img alt="" src="{{ .Params.home_service_2_image }}"></a>
            <a href="{{ .Params.home_service_2_link }}"><h4 class="mt-30">{{ .Params.home_service_2_title }}</h4></a>
            <p>{{ .Params.home_service_2_description }}</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp animation-delay3">
          <div class="services-box mb-sm-50"> <a href="{{ .Params.home_service_3_link }}"><img alt="" src="{{ .Params.home_service_3_image }}"></a>
            <a href="{{ .Params.home_service_3_link }}"><h4 class="mt-30">{{ .Params.home_service_3_title }}</h4></a>
            <p>{{ .Params.home_service_3_description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
