<!-- Divider: Divider -->
<section class="divider parallax layer-overlay overlay-dark-7" data-stellar-background-ratio="0.5" data-bg-img="http://placehold.it/1920x1277">
  <div class="container">
    <!-- Section Content -->
    <div class="section-content">
      <div class="row">
        <div class="col-md-3 col-sm-6 wow fadeInUp animation-delay1">
          <div class="features text-center mb-md-60 mb-md-60"> <i class="pe-7s-culture font-48 text-white"></i>
            <h4 class="mt-20 mb-20"><a class="text-theme-colored" href="page-venues.html">{{ .Params.home_checklist_1_title }}</a></h4>
            <p class="text-white">{{ .Params.home_checklist_1_description }}</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInUp animation-delay2">
          <div class="features text-center mb-md-60"> <i class="pe-7s-note2 font-48 text-white"></i>
            <h4 class="mt-20 mb-20"><a class="text-theme-colored" href="page-checklist.html">{{ .Params.home_checklist_2_title }}</a></h4>
            <p class="text-white">{{ .Params.home_checklist_2_description }}</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInUp animation-delay3">
          <div class="features text-center mb-md-60"> <i class="pe-7s-cash font-48 text-white"></i>
            <h4 class="mt-20 mb-20"><a class="text-theme-colored" href="page-budget.html">{{ .Params.home_checklist_3_title }}</a></h4>
            <p class="text-white">{{ .Params.home_checklist_3_description }}</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInUp animation-delay4">
          <div class="features text-center mb-md-60"> <i class="pe-7s-shopbag font-48 text-white"></i>
            <h4 class="mt-20 mb-20"><a class="text-theme-colored" href="shop-category.html">{{ .Params.home_checklist_4_title }}</a></h4>
            <p class="text-white">{{ .Params.home_checklist_4_description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
