<!-- Section: home -->
<section id="home" class="divider">
  <div class="fullwidth-carousel">

    <div class="carousel-item bg-img-cover" data-bg-img="/new/img/header1.jpg">
      <div class="display-table">
        <div class="display-table-cell">
          <div class="container pt-200 pb-200">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 bg-white-transparent text-center pt-20 pb-50 outline-border">
                <h2 class="text-black-555 text-uppercase font-Playfair font-48">Sinead <span class="">&</span> Vince</h2>
                <i class="fa fa-heart text-theme-colored font-48 mt-20"></i>
                <h2 class="text-black-555 font-weight-100 font-36">got married</h2>
                <h2 class="text-black-555 mt-0">8/9/2017</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item bg-img-cover" data-bg-img="/new/img/header2.jpg">
      <div class="display-table">
        <div class="display-table-cell">
          <div class="container pt-200 pb-200">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 bg-white-transparent text-center pt-20 pb-50 outline-border">
                <h2 class="text-black-555 text-uppercase font-Playfair font-48">BonnyLou <span class="">&</span> Christopher</h2>
                <i class="fa fa-heart text-theme-colored font-48 mt-20"></i>
                <h2 class="text-black-555 font-weight-100 font-36">got married</h2>
                <h2 class="text-black-555 mt-0">28/7/2017</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: Service -->
