<!-- Divider: Clients -->
<section class="divider parallax layer-overlay overlay-lighter" data-stellar-background-ratio="0.5" data-bg-img="http://placehold.it/1920x1285">
  <div class="container pb-140 pt-90">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-black text-center">Partners</h2>
      </div>
    </div>
    <div class="row mt-60 text-center">
      <div class="col-xs-6 col-sm-6 col-md-3 pb-md-20 wow fadeInUp animation-delay1">
        <div class="client-img style2">
          <a href="#" target="_blank"><img src="http://placehold.it/250x120" alt="" class="img-responsive"/></a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 pb-md-20 wow fadeInUp animation-delay2">
        <div class="client-img style2">
          <a href="#" target="_blank"><img src="http://placehold.it/250x120" alt="" class="img-responsive"/></a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 pb-md-20 wow fadeInUp animation-delay3">
        <div class="client-img style2">
          <a href="#" target="_blank"><img src="http://placehold.it/250x120" alt="" class="img-responsive"/></a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 pb-md-20 wow fadeInUp animation-delay4">
        <div class="client-img style2">
          <a href="#" target="_blank"><img src="http://placehold.it/250x120" alt="" class="img-responsive"/></a>
        </div>
      </div>
    </div>
  </div>
</section>
