<div class="header-nav navbar-fixed-top header-dark navbar-white navbar-transparent navbar-sticky-animated animated-active">
  <div class="header-nav-wrapper">
    <div class="container">
      <nav>
        <div id="menuzord-right" class="menuzord red"> <a class="menuzord-brand pull-left flip font-great-vibes text-theme-colored font-32" href="javascript:void(0)">Amazing &nbsp;<i class="fa fa-heart font-25"></i> Weddings</a>
          <ul class="menuzord-menu">
            <li><a href={{ "#home" | absURL }}>Home</a> </li>
            <li><a href={{ "ceremony-venues" | absURL }}>Ceremony Venues</a> </li>
            <li><a href={{ "reception-venues" | absURL }}>Reception Venues</a> </li>
            <li><a href={{ "wedding-extras" | absURL }}>Wedding Extras</a> </li>
            <li><a href={{ "packages" | absURL }}>Packages</a> </li>
            <li><a href={{ "about" | absURL }}>About</a> </li>
            <li><a href={{ "blog" | absURL }}>Blog</a> </li>
            <li><a href={{ "contact" | absURL }}>Contact</a> </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
