<div class="header-nav">
  <div class="header-nav-wrapper navbar-scrolltofixed bg-light">
    <div class="container">
      <nav>
        <div id="menuzord" class="menuzord red no-bg">
          <ul class="menuzord-menu">
            <li><a href="#home">Home</a> </li>
            <li><a href="#home">Ceremony Venues</a> </li>
            <li><a href="#home">Reception Venues</a> </li>
            <li><a href="#home">Wedding Extras</a> </li>
            <li><a href="#home">Packages</a> </li>
            <li><a href="#home">About</a> </li>
            <li><a href="#home">Blog</a> </li>
            <li><a href="#home">Contact</a> </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
